.Die{
    font-size:10em ;
    padding: 0.25em;
    color: hsl(193, 38%, 86%);
 
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}

.Rolling{
       animation-name: jump-shaking;
        animation-duration: 1s ;
}